$circle-size: 25rem;
$color-black-light: rgb(52, 52, 52);
$color-black-dark: rgb(39, 39, 39);
$color-mint-blue: #5ad1cd;
$color-white: #fff;
$margin-bottom-small: 1rem;
$margin-bottom-medium: 1.5rem;
$margin-bottom-big: 2rem;
$margin-bottom-super-big: 6rem;
$nikola-color: rgb(163, 255, 214);
$danilo-color: rgb(235, 54, 120);
$milos-color: rgb(58, 190, 249);
$line-height: 2rem;

$color-pink-light: rgb(255, 78, 136);
$color-pink-dark: rgb(199, 91, 122);

$color-blue-light: rgb(54, 194, 206);
$color-blue-dark: rgb(22, 121, 171);

$color-green-light: rgb(80, 180, 152);
$color-green-dark: rgb(63, 138, 117);

$form-green-color-light: #03e693;
$form-green-color: #04aa6d;
$error-message-color: #ff3333;
$light-red-color: #ef5a6f;
$font-size-text: 1.3rem;
$font-size-h2: 1.95rem;
$font-size-h3: 1.52rem;

$bg-color-slider1: #478ccf;
$img-color-slder1: #f7f7f8;
$radial-color-slider1: #f7f7f8;
$bg-color-slider2: #694f8e;
$img-color-slder2: #f7f7f8;
$radial-color-slider2: #f7f7f8;

$bg-color-slider3: #c75b7a;
$img-color-slder3: #f7f7f8;
$radial-color-slider3: #f7f7f8;

$bg-color-slider4: #a2ca71;
$img-color-slder4: #f7f7f8;
$radial-color-slider4: #f7f7f8;

$grey-color: grey;
$grey-color-light: rgb(197, 197, 197);
